p {
    text-align: center;
}

#id-p {
    text-align: left;
    color: blue;
}

.right-green {
    text-align: right;
    color: green;
}

p.red {
    text-align: center;
    color: red;
}

.brown {
    color: brown;
}

.large {
    font-size: 25px;
}

h1, h2, p {
    font-family: forte;
}