<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkbox & RadioButton</title>
</head>
<body>
    <form action="/introduccion_web/guardado.html" method="GET">
    
        <!--RadioButton-->
        <p>Genero:</p>
        <input type="radio" name="genero" id="hombre" value="hombre" checked>
        <label for="hombre">Hombre</label><br>
        <input type="radio" name="genero" id="mujer" value="mujer"> 
        <label for="mujer">Mujer</label><br><br>

        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bici">
        <label for="vehicle1">Tengo una bici</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Carro">
        <label for="vehicle2">Tengo una Carro</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Bici">
        <label for="vehicle3">Tengo un Bote</label><br>


        <br><br>
        <input type="submit" value="Guardar">

    </form>
    
</body>
</html>