<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimedia</title>
</head>
<body>
    <!--Invocar imagen desde mi proyecto-->
    <img src="multimedia/leon.jpg"  alt="Leoooooon" width="580" height="420" >
    <!-- Invocar Imagen en linea-->
    <img src="https://ubistatic19-a.akamaihd.net/ubicomstatic/es-es/global/search-thumbnail/watchdogs2-ubicom-searchthumb_mobile_254005.jpg" alt="holaaaaaaaaaaa">
</body>
</html>