<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
</head>
<body>
    <table border="1" align="center">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
        <!--Cuerpo en la tabla-->
        <tbody>
            <tr>
                <td>Ana</td>
                <td>Uribe</td>
                <td>23</td>
            </tr>
            <tr>
                <td>Walter</td>
                <td>While</td>
                <td>56</td>
            </tr>
        </tbody>
    </table>
</body>
</html>